:root {
    --aside-width: 8vw;
    --top-nav-height: 60px;
    --box-height: 150px;
    --aside-border: 4px;
}

:root {
    --aside-height: 60px;
}

.aside-nav {
    background-color: rgb(9, 25, 108);
    position: fixed;
    height: 100vh;
    width: var(--aside-width);
    /**/
}

.a-m-c {
    background-color: rgb(5, 5, 75);
    min-height: 100vh;
    margin-left: var(--aside-width);
    /**/
    position: relative;
    background-color: rgb(23, 6, 88);
}

body {
    position: relative;
    color: white;
    margin: 0%;
    padding: 0%;
    background-color: rgb(23, 6, 88);
}

.top-nav {
    background-color: rgb(8, 27, 122);
    height: var(--top-nav-height);
    position: fixed;
    z-index: 10;
    width: calc(100% - var(--aside-width));
    /**/
}

.nav-form {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer {
    background-color: rgb(29, 28, 28);
    min-height: 100%;
}

.container {
    background-color: rgb(23, 6, 88);
    min-height: 80vh;
}

.box {
    width: 100%;
    position: absolute;
    top: var(--top-nav-height);
    min-height: -moz-fit-content;
    min-height: fit-content;
}

@media screen and (max-width:800px) {
    .aside-nav {
        z-index: 11;
        width: 100vw;
        top: calc(100vh - var(--aside-height));
        height: var(--aside-height);
    }

    .a-m-c {
        margin-left: 0%;
    }

    .footer {
        margin-bottom: var(--aside-height);
        /*Aside Height*/
    }

    .top-nav,
    .box {
        width: 100vw;
    }
}

.heading-section {
    padding-left: 15px;
}

/* Example Syntex */
.elements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.element-item {
    width: 50px;
    height: 50px;
    background-color: white;
    border: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-item:hover {
    background-color: rgba(255, 255, 255, 0.849);
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    padding: 5px 11px;
    border-radius: 0px;
    background-color: rgb(255 255 255 / 50%);
    border: 0px solid white;
    outline: 0px;
    outline-color: white;
    color: white;
    font-size: large;
    margin: 0px 4px;
}

.para-container {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.para {
    background-color: rgba(54, 54, 121, 0.625);
    padding: 8px;
    border-radius: 8px;
    width: 45%;
    height: fit-content;
    font-size: large;
    text-indent: 15px;
}

.footer {
    padding: 8px;
}

@media screen and (max-width:800px) {
    .elements {
        flex-direction: row;
    }
}

.aside-icon {
    height: 80%;
}

/* Footer  */
.ul-footer {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 2px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.footer-icon{
    width: 50px;
}
.footer-item {
    text-decoration: none;
    font-weight: bold;
    list-style: none;
}

/* absolute-box */

.absolute-box {
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -45vw;
    margin-top: -45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayNone {
    display: none;
}



.marpad-0 {
    margin: 0%;
    padding: 0%;
}

@media screen and (max-width:450px) {
    .buttons {
        font-size: 0.60em;
    }

    .heading-section {
        padding-left: 2px;
    }

    .heading-section>h1 {
        font-size: 1em;
    }

    .nav-form {
        padding-right: 2px;
    }
    .top-nav{
        flex-direction: row;
    }
}


.ButtonLink{
    color: white;
    text-decoration: none;
}