
.one-day>.number {
    font-size: x-large;
}

.one-day {
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    margin: 10px 0px;
}

.one-day:first-child {
    border: 0px;
}

.sel-m-txt {
    font-size: xx-large;
    font-weight: bold;
    margin: 5px;
}
.calendar{
    padding: 10px;
}
.selected-day {
    background-color: rgb(15 15 60);
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
}

.textarea {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    outline: 1px solid white;
    resize: none;
    overflow: auto;
    padding: 3px;
    width: 80vw;
    height: 50vh;
}

.textarea::placeholder {
    color: white;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: end;
    justify-content: space-between;
    padding-top: 5px;
}

.btn-Clear {
    background-color: transparent;
    outline: 0cap;
    border: 0cap;
    font-size: larger;
    color: white;
}

.btn-Clear>p {
    padding: 0cap;
    margin: 0%;
}

.calendar>.table-container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-around;
    grid-template-columns: repeat(7,1fr);
}

.calendar>.table-container>.table {
    width: 100%;
}

.table>thead>tr {
    background-color: rgba(255, 255, 255, 0.184);
    border: 2px solid white;
}

.table-tr>.table-data {
    text-align: center;
    padding: 10px 0px;
}

.name-month {
    font: bold;
    font-size: xx-large;
}

.table-tr>th {
    font-size: large;
    font-weight: bold;
    padding: 5px 0px;
}

.nav-2-box,
table,
thead,
tr {
    width: 100%;
}

.nav-table-th {
    background-color: #0800f7;
    width: calc(100%/7);
    font-size: larger;
    padding: 5px;
}

.nav-1-box {
    padding: 4px 0px;
}

:root {
    --top-nav-height: 100px;
}

.month-name {
    display: flex;
    align-items: center;
}

.weak-short-name {
    display: none;
}

@media screen and (max-width:1000px) {
    .one-day {
        padding: 2px;
    }
}

@media screen and (max-width:650px) {
    .nav-table-th {
        font-size: small;
        padding: 2px;
    }

    .table-tr>.table-data {
        padding: 5px 1px;
    }

    .btn-Clear {
        font-size: revert;
    }

    .weak-full-name {
        display: none;
    }

    .weak-short-name {
        display: flex;
        gap: 1px;
    }
}

@media screen and (max-width:450px) {
    .nav-table-th {
        font-size: small;
        padding: 2px;
    }

    .one-day {
        padding: 0%;
    }

    .name-month {
        font-size: large;
    }

    :root {
        --top-nav-height: 70px;
    }

    .btn-Clear {
        font-size: 0.8em;
    }
}

.nav-1-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-nav {
    flex-direction: column;
}
.short-text{
    display: flex;
    justify-content: center;
}

/* Add Previous and Next Month */
.NewMonthBtn{
    background-color: transparent;
    border-radius: 0%;
    border: 0ch;
    outline: 0pt;
    color: white;
    font-size: larger;
}
.NewMonthBtn:active{
    font-weight: bold;
}
.newMonth-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #292597;
    border-radius: 5px;
}
select>option{
    background-color: gray;
}
.number::placeholder{
    color: white;
}
