/* Styles for all note list page */
.note-icon-pr {
    width: 60px;
}

.delete-icon {
    width: 24px;
}

.buttons-img {
    background-color: transparent;
    border: 0cap;
    outline: 0cap;
}
.list-notes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-notes>.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255 255 255 / 4%);
    border-radius: 8px;
    padding: 5px 0px;
}
.list-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.container {
    padding: 20px;
}

.doc-name {
    color: white;
    font-size: larger;
    text-decoration: none;
}

.link {
    text-decoration: none;
}
.heading-head{
    font-size: larger;
    font-weight: bolder;
}