<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<style>
    body{
        background-color: gray;
        color: white;
    }
</style>
<body>
    <h1>
        <center>
            Oops ! Something went Wrong...
        </center>
    </h1>
    <br>
    <p>
        <center>
            Error 404 - Page Not Found
        </center>
    </p>
</body>
</html>