<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="./Styles/BodyLayout.css" />
    <link rel="stylesheet" href="./Styles/profile.css" />
    <link rel="shortcut icon" href="./Image/transparent-profile-icon.svg" type="image/x-icon">
</head>

<body>
    <div class="aside-nav">
        <div class="elements">
            <div class="">
                <a title="calendar" class="element-item" href="/calendar" target="" rel="noopener noreferrer">
                    <img src="./Image/Calendar-icon.svg" alt class="aside-icon" />
                </a>
            </div>
            <div class="">
                <a title="notes" class="element-item" href="/NoteList" target="" rel="noopener noreferrer">
                    <img src="./Image/Notes-icon.svg" alt class="aside-icon" />
                </a>
            </div>
            <div class="">
                <a title="to-do" class="element-item" href="/todo" target="" rel="noopener noreferrer">
                    <img src="./Image/TO-DO-icon.svg" alt class="aside-icon" />
                </a>
            </div>
            <div class="">
                <a class="element-item" title="profile" href="" target="" rel="noopener noreferrer">
                    <img src="./Image/transparent-profile-icon.svg" alt class="aside-icon" />
                </a>
            </div>
        </div>
    </div>
    <div class="a-m-c">
        <div class="top-nav">
            <div class="heading-section">
                <h1>Profile</h1>
            </div>
            <!-- <div class="form">
        <button class="buttons">Search</button>
        <button class="buttons">Create File</button>
      </div> -->
        </div>
        <div class="box">
            <div class="container">
                <div class="profile">
                    <div class="details">
                        <div class="img-box">
                            <img src="./Image/transparent-profile-icon.svg" class="profile-img" alt="Profile Image">
                        </div>
                        <div class="details-box">
                            <div class="username">
                                John Wick
                            </div>
                            <div class="gmail text">
                                johnwick@gmail.com
                            </div>
                            <div class="ac-created text">
                                created on 5 June 2023
                            </div>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-container">
                            <div class="data-count">
                                <div>
                                    <a class="links" href="#" target="_blank" rel="noopener noreferrer">
                                        <center>
                                            <p class="data-tx count-text">Calendar</p>
                                        </center>
                                    </a>
                                </div>
                                <div>
                                    <center>
                                        <p class="count count-text">15</p>
                                    </center>
                                </div>
                            </div>
                            <div class="data-count">
                                <div>
                                    <a class="links" href="#" target="_blank" rel="noopener noreferrer">
                                        <center>
                                            <p class="data-tx count-text">To Do</p>
                                        </center>
                                    </a>
                                </div>
                                <div>
                                    <center>
                                        <p class="count count-text">35</p>
                                    </center>
                                </div>
                            </div>
                            <div class="data-count">
                                <div>
                                    <a class="links" href="./public/Note-list.html" target="_blank"
                                        rel="noopener noreferrer">
                                        <center>
                                            <p class="data-tx count-text">Notes</p>
                                        </center>
                                    </a>
                                </div>
                                <div>
                                    <center>
                                        <p class="count count-text">45</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <h1>
                    <center>@copyright - All rights are reserved</center>
                </h1>
                <div class="list">
                    <center>
                        <ul class="ul-footer">
                            <li class="footer-item">Facebook</li>
                            <li class="footer-item">Telegram</li>
                            <li class="footer-item">Instagram</li>
                            <li class="footer-item">Whatsapp</li>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>

</html>