<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="./Styles/BodyLayout.css" />
    <link rel="stylesheet" href="./Styles/profile.css" />
    <link rel="shortcut icon" href="./Image/transparent-profile-icon.svg" type="image/x-icon">
</head>

<body>
    <div class="aside-nav">
        <div class="elements">
            <div class="">
                <a title="calendar" class="element-item" href="/calendar" target="" rel="noopener noreferrer">
                    <img src="./Image/Calendar-icon.svg" alt class="aside-icon" />
                </a>
            </div>
            <div class="">
                <a title="notes" class="element-item" href="/NoteList" target="" rel="noopener noreferrer">
                    <img src="./Image/Notes-icon.svg" alt class="aside-icon" />
                </a>
            </div>
            <div class="">
                <a title="to-do" class="element-item" href="/todo" target="" rel="noopener noreferrer">
                    <img src="./Image/TO-DO-icon.svg" alt class="aside-icon" />
                </a>
            </div>
            <div class="">
                <a class="element-item" title="profile" href="" target="" rel="noopener noreferrer">
                    <img src="./Image/transparent-profile-icon.svg" alt class="aside-icon" />
                </a>
            </div>
        </div>
    </div>
    <div class="a-m-c">
        <div class="top-nav">
            <div class="heading-section">
                <h1>Profile</h1>
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="profile">
                    <div class="details">
                        <div class="img-box">
                            <img src="./Image/img04.jpg" class="profile-img" alt="Profile Image">
                        </div>
                        <div class="details-box">
                            <div class="username">
                                John Wick
                            </div>
                            <div class="gmail text">
                                johnwick@gmail.com
                            </div>
                            <div class="ac-created text">
                                created on 5 June 2023
                            </div>
                            <div>
                                <h2>
                                    Description : 
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nostrum numquam ab commodi dicta modi vitae, minima rerum ea quidem totam doloremque laborum ratione error est quos? Maxime, ad dignissimos pariatur laudantium neque quibusdam praesentium earum molestias error aperiam delectus autem quisquam quas ullam dolorem consequatur quae modi quo beatae porro rem iure ea? Ut aliquam, unde soluta praesentium omnis fuga placeat libero tempora debitis porro ducimus ratione magni rerum sunt dignissimos magnam officiis quae consequuntur, modi voluptatibus atque perferendis repudiandae laboriosam. Veniam vitae aliquid, atque quaerat consectetur a. Perferendis quae accusamus, dicta repudiandae accusantium quaerat dolores doloremque, debitis libero similique maiores deserunt cum quisquam officia eligendi ipsam. Cupiditate aspernatur vero sapiente hic velit placeat deserunt? Laudantium quo non voluptatum velit aliquid placeat officia natus, optio eos facere laborum quasi quisquam dolor est eveniet tempora atque corrupti itaque? Vel quia, ipsa accusantium temporibus ullam, nobis omnis aliquam sit iure accusamus quibusdam impedit nesciunt cupiditate mollitia velit nostrum vitae labore in enim quaerat veritatis nemo rem quas reprehenderit! Inventore, amet odio ab repudiandae beatae ad maiores ratione vel harum molestiae nostrum quo perferendis corrupti a quod repellat et! Numquam magni veritatis nobis consequatur laboriosam fugiat consequuntur dolore odit ducimus? Iste, quas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-container">
                            <div class="data-count">
                                <div>
                                    <a class="links" href="#" target="_blank" rel="noopener noreferrer">
                                        <center>
                                            <p class="data-tx count-text">Calendar</p>
                                        </center>
                                    </a>
                                </div>
                                <div>
                                    <center>
                                        <p class="count count-text">15</p>
                                    </center>
                                </div>
                            </div>
                            <div class="data-count">
                                <div>
                                    <a class="links" href="#" target="_blank" rel="noopener noreferrer">
                                        <center>
                                            <p class="data-tx count-text">To Do</p>
                                        </center>
                                    </a>
                                </div>
                                <div>
                                    <center>
                                        <p class="count count-text">35</p>
                                    </center>
                                </div>
                            </div>
                            <div class="data-count">
                                <div>
                                    <a class="links" href="./public/Note-list.html" target="_blank"
                                        rel="noopener noreferrer">
                                        <center>
                                            <p class="data-tx count-text">Notes</p>
                                        </center>
                                    </a>
                                </div>
                                <div>
                                    <center>
                                        <p class="count count-text">45</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <h1>
                    <center>@copyright - All rights are reserved</center>
                </h1>
                <div class="list">
                    <center>
                        <ul class="ul-footer">
                            <li class="footer-item">Facebook</li>
                            <li class="footer-item">Telegram</li>
                            <li class="footer-item">Instagram</li>
                            <li class="footer-item">Whatsapp</li>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>

</html>